* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  text-align: center;
  font-size: 75px;
  font-weight: 100;
}

.field-container {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
}

.field-box {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  line-height: 300px;
  /*change font size respnsive*/
  font-size: 3.2vmin;
  margin: 10px;
  box-sizing: border-box;
  color: maroon;
  background-color: #f5ba13;
  bottom: 100px;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.3);
}

.link-style {
  text-decoration: none;
  color: maroon;
}
img.hover-image {
  position: relative;
  top: -300px;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  opacity: 0;
}

.field-box:hover .hover-image {
  transition: opacity 250ms;
  opacity: 1;
}

.cats-tray {
  color: white;
  background-color: black;
  font-size: 20px;
  font-family: "Mclaren", cursive;
  padding: 100px;
}

.Cat-Mood {
  display: flex;
  flex-wrap: wrap;
}





/* ***************************************************************************************
Styles for ML
***************************************************************************************** */

.mlhome{
  width: 100%;
  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 80%;
  padding: 20 px;
  margin: 100px auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 250px;
  height: 300px;
  background-color: white;
}
.card h2{
  background-color: #f5ba13;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 5px;
  width: 100%;
  height: 30%;
  margin-bottom: 5px;
  color: white;
}
.card p{
  height : 70%;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  color: maroon;
  background-color: white;
}

.card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0069d9;
}